<div class="registration">

<h1><%= "Welcome #{name}" %></h1>

<a href="/logout"><button>Logout</button></a>

<a href="/fish_factory"><h2>Add Fish</h2></a>

<h3>Other Users</h3>

<p>Order:</p>
<form>
  <input type="radio" name="asc" value="ASC">A to Z<br>
  <input type="radio" name="desc" value="DESC">Z to A<br>
  <button>Reorder</button>
</form>
<br/>
<table id="user_list" class="bordered_table">
  <tr class="headings">
    <td>User</td>
    <td>Action</td>
  </tr>

  <% users_data.map do |hash| %>
    <tbody class="grid">
    <tr>
    <% if session[:user_id] != hash["id"].to_i %>
      <td><a href="/user/<%= hash["username"] %>"><%= hash["username"] %></a></td>
      <td><form action='/delete_user' method='post'><button name='delete_user' type='submit' value='<%= hash["username"] %>'>Delete <%= hash["username"] %></button></form></td>
    <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<h3>Your Fish</h3>

<ul><% users_fish_data.each do |fish_hash| %>
      <li><a href="<%= fish_hash["wiki_link"] %>"><%= fish_hash["fishname"] %></a></li>
  <% end %>
</ul>

</div>
